/* ===========
   commons
============== */
.big-container,
.small-container {
   margin: 0 auto;
}

.big-container {
   max-width: 1200px;
}

.small-container {
   max-width: 1000px;
}

.flex-box {
   display: flex;
}

.inline-list {
   display: flex;
   align-items: center;
}
.inline-list > li:not(:last-child) {
   margin-inline-end: 20px;
}

.fluid-img {
   max-width: 100%;
}
/* ===========
  typography
============== */

/* ===========
   buttons
============== */
.btn {
}

.btn-primary {
}

.btn-secondary {
}
