/* ===========
   commons
============== */
.big-container,
.small-container {
   margin: 0 auto;
}

.big-container {
   max-width: 1100px;
}

.small-container {
   max-width: 980px;
}

.flex-box {
   display: flex;
}

.width40 {
   width: 40%;
}

.width60 {
   width: 60%;
}
/* =============
   utilities
================ */
.inline-list {
   display: flex;
   align-items: center;
}
.inline-list > li:not(:last-child) {
   margin-inline-end: 20px;
}

.fluid-img {
   max-width: 100%;
}
/* ===========
  typography
============== */
body {
   font-family: "Open Sans", sans-serif;
}

h2 {
   font-size: 40px;
}

h3 {
   font-size: 30px;
}
/* ===========
   buttons
============== */
.btn {
   padding: 0.5em 1em;
}
.btn:hover {
   opacity: 0.8;
   cursor: pointer;
}

.btn-primary {
   background-color: #0061ff;
   color: white;
   border: none;
}

.btn-secondary {
}
