@import url(reset.css);
@import url(core.css);

/* ===========
   macro-aree
============== */
/* ===========
   debug
============== */

main section {
   padding: 25px 0;
}
section:not(.hero, #clients) {
   border: 2px dashed lightseagreen;
}
header {
   display: none !important;
}
/* ===========
   header
============== */
header {
   background-color: white;
   padding: 25px 15px;
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 6969;
}

/* ===========
   hero
============== */
.hero {
   background-color: #b4d0e7;
   padding-top: 40px;
}

.hero h1 {
   font-size: 55px;
}

.hero .width40 .btn {
   margin: 35px 0;
}

.hero .flex-box {
   position: relative;
   bottom: -70px;
}

.hero .width40 p:last-of-type {
   margin-bottom: 35px;
}
.hero .width40 i {
   font-size: 35px;
   font-weight: bolder;
}

/* ===========
   main
============== */
main section {
}

main section:first-of-type {
   padding-top: 130px;
}
main .inline-list > .radio-check {
   margin-inline-end: 30px; /*overrido la regola-base nel core.css*/
}
.business-plan {
   margin: 50px 0;
}

.flex-box:has(.col) {
   margin-inline: -10px;
   /* -10px pk allineo i margin dei flex-items*/
}

.col {
   width: calc(100% / 3 - 20px);
   margin: 0 10px; /*gutter dei flex-item*/
}

/* piani-business */
.inline-list:has(.radio-check) {
   margin-top: 45px;
}
.business-plan :where(h5, .col-content) {
   border: 1px solid lightgray;
}
.col-content {
   border-top: none;
   padding: 30px;
}

.business-plan h5 {
   font-weight: normal;
   text-align: center;
   padding: 0.5em 0;
}
/* col content  */
.col-content h3 {
   margin-bottom: 15px;
}

.col-content small {
   display: block;
}
small.price {
   font-weight: bold;
}
small.price-info {
   color: gray;
   margin: 15px 0 50px;
}
.col-content li:not(:last-of-type) {
   margin-bottom: 15px;
}
.col-content .btn {
   width: 100%;
   margin: 40px 0 30px;
}
.col-content small:last-of-type {
   margin-bottom: 30px;
}
.col-content small > a {
   color: #7f7ff6;
   text-decoration: underline;
}
.col-content hr {
   width: 20%;
}
.col-content h6 {
   font-size: 14px;
   margin: 40px 0 20px;
}
.col-content li {
   display: flex;
   align-items: baseline;
}
/* la checked list è nel core.css ====> utilities */
.business-plan .width40:has(.btn) {
   padding-left: 85px;
   /*seleziona la classe .width40 che ha come figlio .btn
   ovvero il contenitore del bottone del piano aziendale "orizzontale"*/
}
/* sezione partners */
.partners .width60 {
   padding-right: 75px;
}

.partners .width40 {
   padding: 40px 65px 0 0;
}

.partners .width40 :where(h3, p) {
   margin-bottom: 20px;
}
/* sezione operazioni */
#operations > .flex-box {
   flex-wrap: wrap;
}
/* sezione scopri di più */
#discover-more a {
   display: inline-block;
   margin-top: 35px;
   font-size: 14px;
   color: #3366cc;
   text-decoration: underline;
}
/* sezione clienti */
.big-square {
   border: 1px solid red;
   width: calc(100vw / 3);
   height: calc(100vw / 3);
}
.big-square.flex-box {
   flex-wrap: wrap;
}
.small-square {
   width: 50%;
   height: 50%;
   padding: 3.5vw;
}
.small-square > img {
   filter: invert(100%);
}
.small-square.flex-box {
   align-items: center;
}
.designit {
   background-color: #a2d39b;
   box-shadow: inset 0 0 0 1vw #d1e9cd;
}
.asu {
   background-color: #61082b;
}

.uf {
   background-color: #0093ce;
}

.topps {
   background-color: #ff1c1c;
}
.world-bicycle {
   background-color: #d5001f;
}
.hearst {
   background-color: #c7d2b9;
}
.lonely-planet {
   background-color: #0d2481;
}
.clear {
   background-color: #ffd830;
}
#central-square {
   padding: 2vw;
   overflow-y: auto;
}
#central-square > :not(:first-child, :last-child) {
   margin-block: 2.5vw;
}
/* sezione prova gratuita */
#free-trial {
}

/* ===========
   footer
============== */
