@import url(reset.css);
@import url(core.css);

/* ===========
   macro-aree
============== */
/* ===========
   debug
============== */
body {
   height: 500vh;
}
header {
   border: 2px dashed rgb(246, 14, 14);
}
section {
}

/* ===========
   header
============== */
header {
   background-color: white;
   padding: 25px 15px;
   position: sticky;
   top: 0;
   left: 0;
   right: 0;
   z-index: 6969;
}
header.flex-box {
   justify-content: space-between;
}
/* ===========
   hero
============== */
.hero {
   background-color: #b4d0e7;
   padding-top: 60px;
}
.hero h1 {
   font-size: 55px;
}
.hero.flex-box {
   justify-content: space-around;
}
.hero .width40 .btn {
   margin: 35px 0;
}

.hero .width60 {
   position: relative;
   top: 70px;
}
.hero .width40 p:first-of-type {
   margin-top: 70px;
}
.hero .width40 p:last-of-type {
   margin-bottom: 35px;
}
.hero .width40 i {
   font-size: 35px;
   font-weight: bolder;
}

/* ===========
   main
============== */
main section {
   padding: 25px 0;
}

/* sezione piano business */
main section:first-of-type {
   padding-top: 150px;
}
main .inline-list > .radio-check {
   margin-inline-end: 30px; /*overrido la regola-base nel core.css*/
}

.business-plans.flex-box {
   justify-content: space-between;
   margin: 0 -10px; /* -10px pk allineo i margin dei flex-items*/
   padding: 40px 0;
}

/* col piani-business */
.business-plans > .col {
   width: calc(100% / 3 - 20px);
   margin: 0 10px;
}
.business-plans h5,
.col-content {
   border: 1px solid lightgray;
}
.col-content {
   border-top: none;
   padding: 30px;
}
.business-plans h5 {
   font-weight: normal;
   text-align: center;
   padding: 0.5em 0;
}
.col-content small {
   display: block;
}
small.price {
   font-weight: bold;
}
small.price-info {
   color: gray;
}
/* ===========
   footer
============== */
